

name: Build and Publish Package

on: 
    push:
        branches: [ "main"]
    pull_request:
        branches: [ "main" ]
    release:
        types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 21
      - run: npm ci
      - run: npm install @rolldown/binding-linux-x64-gnu
      - run: npm run coverage
      - run: npm run build 
      - run: npm test
  publish_package:
    if: github.event_name == 'release'
    needs: build
    runs-on: ubuntu-latest
    permissions:
        contents: write
        pull-requests: write
        repository-projects: write
        packages: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 21
          registry-url: https://npm.pkg.github.com/
      - run: npm ci
      - run: npm run build
      - name: upload boot-mjs
        uses: WebFreak001/upload-asset@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: ./dist/boot.mjs
          mime: application/javascript
          name: boot.mjs
      
      - id: semver
        uses: ildug/get-tag-action@v1
      - run: npm version --git-tag-version=false ${{ steps.semver.outputs.version }} 
      - uses: JS-DevTools/npm-publish@v3
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
            registry: "https://npm.pkg.github.com"
            access: "public"
      - uses: JS-DevTools/npm-publish@v3
        with:
            token: ${{ secrets.NPM_PUBLISH_TOKEN }}
            access: "public"
      
        
     
